<html>
<h1>Stream Stats Summary</h1>

<strong>Loss Rate: </strong><livelookstat>Loss Rate (Test Only)</livelookstat><br>
<strong>Loss Rate After Correction: </strong><livelookstat>Loss Rate After Correction</livelookstat><br>
<strong>Packets Lost: </strong><livelookstat>Packets Lost</livelookstat><br>
<strong>Packets Lost(Group): </strong><livelookstat>Group Losses</livelookstat><br>
<strong>Packets Recovered: </strong><livelookstat>Packets Recovered</livelookstat><br>
<strong>Net Loss: </strong><livelookstat>Net Loss</livelookstat><br>
	
<strong>Largest Loss Rate: </strong><livelookstat>Loss Rate (Test Only)</livelookstat><br>	

<h1>Network Packet Stats</h1>
<strong>Isolated Losses: </strong><livelookstat>Isolated Losses</livelookstat><br>
<strong>Burst Losses: </strong><livelookstat>Burst Losses</livelookstat><br>

<h2>Burst Stats</h2>
<strong>Max Burst: </strong><livelookstat>Max Burst</livelookstat><br>
<strong>Avg Burst: </strong><livelookstat>Burst Size</livelookstat><br>
<strong>Min Burst: </strong><livelookstat>Min Burst</livelookstat><br>
<strong>Avg Burst Density: </strong><livelookstat>Burst Density</livelookstat><br>

<h1>Loss Rate vs Loss Rate After Correction</h1>
<livelookchart><livelooktrace>Loss Rate (Test Only)</livelooktrace><livelooktrace>Loss Rate After Correction</livelooktrace></livelookchart><br>

<h1>Burst Losses vs Isolated Losses</h1>
<livelookchart><livelooktrace>Burst Losses</livelooktrace><livelooktrace>Isolated Losses</livelooktrace></livelookchart><br>

<h1>Greatest Loss Rate</h1>
<livelookchart><livelooktrace>Loss Rate (Test Only)</livelooktrace><livelooktrace>Loss Rate After Correction</livelooktrace><timeformat>h:mm:ss a</timeformat><interval>30s</interval><window><pad>2min</pad>Greatest Loss Rate (Test Only)</window></livelookchart><br>

<h1>Longest Loss Above 3.75</h1>
<livelookchart><livelooktrace>Loss Rate (Test Only)</livelooktrace><livelooktrace>Loss Rate After Correction</livelooktrace><timeformat>h:mm:ss a</timeformat><interval>30s</interval><window><pad>5min</pad>Longest Loss Rate (Test Only) > 3.75 </window></livelookchart><br>

<h1>Recommendations</h1>
<h2><livelookstat>TimeOrFEC</livelookstat></h2>
<strong>Time Diversity Required for .5%: </strong><livelookstat>RecommendedTimeDiversity=.5</livelookstat><br>
<strong>Time Diversity Required for .1%: </strong><livelookstat>RecommendedTimeDiversity=.1</livelookstat><br>
<strong>Time Diversity Required for .05%: </strong><livelookstat>RecommendedTimeDiversity=.05</livelookstat><br>
</html>